* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
   
}
@media only screen and(min-width: 768px) {
    .tablet{
        display: flex;
        flex-wrap: wrap;
        /* gap:0 12px; */
        margin-top: 50px;
        

    }
    .position{
        width: 48%;
        height: 650px;
    }
}

.nav {
    background-color: #F5F5F7CC;
    display: flex;
    justify-content: space-between;
    align-items: center;
   height: 48px;
 
 
}
 
 
.home {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   
}
 
 .nav_icon{
    position: relative;
    left: 16px;
 }
 
 .container{
   text-align: center;
    padding: 18px 31px;
 }
 
.page1{
background-image: url(./images/page1img/Figure.png);
background-size: cover;
background-repeat: no-repeat;
width: 100%;
height: 500px;
margin-bottom: 12px;
/* background-position: center; */
}
 

 

.page1_top_section{
color: white;
display: flex;
flex-direction: column;
align-items: center;
gap: 16px;
position: relative;
top: 350px;
background-position: center;
}
 
.page1_learn_button{
    border: 1px solid #0071E3 ;
    background-color: #0071E3;
    color: white;
    padding:8px 16px ;
    border-radius: 999px;
 
}
    .page1_buy_button{
        border: 1px solid #2997FF ;
        background-color: transparent;
        color:#2997FF;
        padding: 8px 16px ;
        border-radius: 999px;
    }
 
    .page1_button{
       
      display: flex;
      justify-content: center;
      gap: 12px;
      padding: 10px;
    }


 .page2{
    background-image: url( ./images/page2img/purple16.png);
    background-size: cover ;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    background-position: center;
   margin-bottom: 12px;
}
.page2_top-section{
     color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    position: relative;
    top: 36px;
    }
.page2_button__learn{
    border: 1px solid white;
    border-radius: 999px;
    padding: 8px 16px;
}
.page2_button__buy{
    color: white;
    border: 1px solid white;
    border-radius: 999px;
    padding: 8px 16px;
   background: transparent;
   
} 
.page2_button{
    display: flex;
    justify-content: center;
    gap: 12px;
    padding: 10px;
}

 
 
.page3{
    background-image: url(./images/page3/ipad.png);
    background-size: cover ;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    background-position: center;
    margin-bottom: 12px;
}
.page3_top-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    position: relative;
    top: 36px;
}
.page3_button{
    display: flex;
    justify-content: center;
    gap: 12px;
    padding: 10px;
}

  .page3_button__learn{
    border-radius: 999px;
    border: 1px solid #2997FF;
    background: #0071E3;
    color: white;
    padding: 8px 16px;
  }
  .page3_button__buy{
    border-radius: 999px;
    border: 1px solid #2997FF;
    padding: 8px 20px;
    background-color: transparent;
    color: #2997FF;
}
.page4{
    background-image: url(./images/page4/Airpods.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    background-position: center;
    margin-bottom: 12px;

}


.page4_top-section{
    color: white;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 16px;
   position: relative;
   top: 299px;
 
}

.page4_button__learn{
    border-radius: 999px;
    border: 1px solid #2997FF;
    background: #0071E3;
    color: white;
    padding: 8px 16px;
}
.page4_button__buy{
    border-radius: 999px;
    border: 1px solid #2997FF;
    padding: 8px 20px;
    background-color: transparent;
    color: #2997FF;
}
.page4_button{
    display: flex;
    justify-content: center;
    gap: 12px;
    padding: 10px;
}

.page5{
    background-image: url(./images/page5/iwatch.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    background-position: center;
    margin-bottom: 12px;
}
.page5_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    position: relative;
    top: 36px;
}
.page5_top-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    position: relative;
    top: 46px;
}
.page5_button__learn{
    background-color: #0071E3;
    color: white;
    border-radius: 999px;
    border: 1px solid #2997FF;
    padding: 8px 20px;
}
.page5_button_buy{
    border-radius: 999px;
    border: 1px solid #2997FF;
    padding: 8px 20px;
    color: #2997FF;
    background-color: transparent;
}



.page6{
    background-image: url(./images/page6/macboook.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    background-position: center;
    margin-bottom: 12px;
}
.page6_top-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 42px;
    gap: 4px;
}
.page6_button__learn{
    background-color: #0071E3;
    color: white;
    border-radius: 999px;
    border: 1px solid #2997FF;
    padding: 8px 20px;
}
.page6_button_buy{
    border-radius: 999px;
    border: 1px solid #2997FF;
    padding: 8px 20px;
    color: #2997FF;
    background-color: transparent;
}
.page6_button{
    display: flex;
    justify-content: center;
    gap: 12px;
    padding: 10px;
}

.page7{
    background-image: url(./images/page7/women.png);
    background-size: cover;
    width: 100%;
    height: 500px;
    background-position: center;
    margin-bottom: 12px;

}
.page7_top-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 47px;
    gap: 4px;
}
.page7_button__learn{
    background-color: #0071E3;
    color: white;
    border-radius: 999px;
    border: 1px solid #2997FF;
    padding: 8px 20px;
}
.page8{
    background-image: url(./images/page8/carrier.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    background-position: center;
    margin-bottom: 12px;
}
.page8_top-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 301px ;
    gap: 4px;
}
.page8_button__find{
    background-color: #0071E3;
    color: white;
    border-radius: 999px;
    border: 1px solid #2997FF;
    padding: 8px 20px;
}

.page9{
    background-image: url(./images/page9/trade.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    background-position: center;
    margin-bottom: 12px;
}
.page9_top-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 41px ;
    gap: 4px;
}
.page9_button__find{
    background-color: #0071E3;
    color: white;
    border-radius: 999px;
    border: 1px solid #2997FF;
    padding: 8px 20px;
}

.page10_top-section{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 480px;
    
}
.scroll{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 20px;
    transition: all 8s linear;
}
.scroll__image{
height: 533px;
    }

    .page11_top-section{
        display: flex;
        justify-content: center;
        /* width: 238px; */
        height: 480px;
        gap: 6px;
        position: relative;
        top: 12px; ;
    }
    
    
       
        
    