    * {
margin: 0;
padding: 0;
box-sizing: border-box;
}
.navbar{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 12px;
    align-items: center;
    gap: 24px;
   background-color: #F5F5F7CC;

}
.container{
    display:flex ;
    justify-content: center;
    background-color: #FFFFFF;
    padding: 20px;
    /* gap: 4px; */

}
.header_gradient-line{
    width: 100%;
    height: 40px;
    background:linear-gradient(to right, #019FFB,#F55BE4, #FD8C1F ) ;
    filter: blur(2px); 
}
.header{
    color:  #6E6E73;
    display: flex;
    position: relative;
    left: 140px;
    padding: 80px;
    gap: 32px;


}    
.header_content-store{
    background: linear-gradient(to right, #0090F7, #BA62FC, #F2416B );
width: fit-content;
background-clip: text;
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
}
.help_link{
    color:#0066CC ;
}
.shopping_help{
    display: flex;
    gap: 16px;
   
}
.shopping-help-img{
    width: 35px;
height: 35px;
margin-right: 16px;
}
